<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Diary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
       
                        <Diary.Properties.Settings>
                            <setting name="password" serializeAs="String">
                                <value>1234</value>
                            </setting>
                            <setting name="user" serializeAs="String">
                                <value>ulcia1</value>
                            </setting>
                            <setting name="DbName" serializeAs="String">
                                <value>MyDiary</value>
                            </setting>
                            <setting name="ServerName" serializeAs="String">
                                <value>local</value>
                            </setting>
                            <setting name="AddressName" serializeAs="String">
                                <value>SQLEXPRESS</value>
                            </setting>
                        </Diary.Properties.Settings>
    </userSettings>
</configuration>